.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    /* background-color: pink; */

}

h2{
    font-family: 'Inter', sans-serif;
}

li{
    list-style: none;
    margin-bottom: 5px;
    /* padding:10px; */
    height: 38.5px;
    width: 115.156px;
    padding:9px 14px 9px 14px;
    min-width: 65px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    
}

li:hover{
       background-color: rgb(241, 238, 235);
        border-radius: 13px;
        cursor: pointer;
}

.heading{
    display: flex;
    
}

.footer__first{
    /* background-color: yellow; */
    position: absolute;
    left: 57px;
    top: 2306px;
}



.characteristics{
    /* background-color: yellow; */
        position: absolute;
        left:585px;
        top:2306px;
        
}
.resources {
    /* background-color: yellow; */
    position:absolute;
    left:817px;
    top: 2306px;
}

.company{
    /* background-color: yellow; */
    position: absolute;
    left: 1025px;
    top: 2306px;
}

.icons{
    /* background-color: yellow; */
    position: absolute;
    right:70px;
    top: 2306px;
}

